[submodule "external/gba-tests"]
	path = external/gba-tests
	url = https://github.com/jsmolka/gba-tests.git
[submodule "external/arm7tdmi"]
	path = external/arm7tdmi
	url = https://github.com/SingleStepTests/ARM7TDMI.git
